$scrollBarWidth: 10px;
$scrollBarTrackBg: #F2F2F3;
$scrollBarThumbBg: #ADB1B9;
$dropdownMaxHeightSm: 200px;
$dropdownMaxHeightMd: 400px;
$dropdownMinWidth: 11rem;

.dropdown {
    &-menu {
        font-size: $fontSize;
        color: $primaryColor;
        background-color: $lightModeBgSurface;
        border-radius: $borderRadius;
        border-width: $borderWidth;
        box-shadow: 0 0.5rem 1rem rgba(0,  0,  0,  0.15);
        min-width: $dropdownMinWidth;
        overflow-y: auto;
    
        &-sm {
            max-height: $dropdownMaxHeightSm;
        }
    
        &-md {
            max-height: $dropdownMaxHeightMd;
        }
    }

    &-item {
        padding: .5rem .75rem;
        color: $lightModeFontColor;
    }
}