@import '../common/variables';
@import '../common/typography';
@import '../components//button';
@import '../components/dropdown';
@import '../components/accordion';

$modalPadding: 24px;

.modal {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: #1D273B;

    &-blur {
        backdrop-filter: blur(4px);
    }

    &-content {
        border-radius: $borderRadius;
    }

    &-header {
        min-height: 3.5rem;
        padding: 0 1.5rem;

        .close {
            color: inherit;
            opacity: .3;
        }
    }

    &-title {
        font-weight: $fontWeightMedium;
    }

    &-body {
        padding: $modalPadding;
    }
}

.modal-connections {
    &__content {
        height: 400px;
    }

    &__body {
        overflow-y: hidden;
        height: 400px;
    }

    &__panel {
        .add-connection {
            border: 0;
            padding: 16px 20px;
        }
    }

    &__list, &__form {
        overflow-y: auto;
    }

    &__list {
        height: calc(100% - 67px);

        .connection {
            padding: 8px 20px 8px 32px;
            border-radius: 0;
            border: 0;
            border-top: $borderWidth solid $lightModeBorderColor;
        }
    }

    &__form  {
        height: calc(100% - 54px);

        .group {
            &__item {
                border-radius: 16px;
                background: #F1F1F1;
            }
        }
    }
}