@import '../common//themes';

$theme-map: null; //important! do not delete this

@import '../common/variables';
@import '../common/typography';
@import '../components//button';
@import '../components/dropdown';
@import '../components/accordion';
@import '../components/input';
@import '../components/tabs';


$modalPadding: 24px;

.modal {
    font-family: $fontFamily;
    font-size: $fontSize;

    @include themify() {
        color: themed($color);
    }

    &-blur {
        backdrop-filter: blur(4px);
    }

    &-content {
        border-radius: $borderRadius;

        @include themify() {
            background: themed($surfaceBg);
        }
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 56px;
        margin: 0;
        padding: 0;
        z-index: 10;
        color: inherit;
        opacity: .3;
        outline: none;
    }

    &-header {
        min-height: 3.5rem;
        padding: 0 1.5rem;

        @include themify() {
            border-bottom: themed($border);
        }
    }

    &-title {
        font-weight: $fontWeightMedium;
    }

    &-content {
        overflow: hidden;
    }

    &-body {
        padding: $modalPadding;
    }

    &-footer {
        position: relative;
        z-index: 2;

        @include themify() {
            background-color: themed($surfaceBg);
            border-top: themed($border);
        }
    }
}

.modal-connections {
    &__content {
        height: 500px;
    }

    &__body {
        overflow-y: hidden;
        height: 500px;
    }

    &__panel {
        @include themify() {
            border-right: themed($border);
        }

        .add-connection {
            border: 0;
            padding: 16px 20px;
        }
    }

    &__list, &__forms {
        overflow-y: auto;
    }

    &__list {
        height: calc(100% - 67px);

        @include themify() {
            border-right: themed($border);
        }

        .connection {
            padding: 8px 20px;
            border-radius: 0;
            border: 0;
            cursor: pointer;

            @include themify() {
                border-top: themed($border);
                background-color: themed($surfaceBg);
            }
        }
    }

    &__forms  {
        height: calc(100% - 67px);
        padding: 20px;

        .group-edit-form,  .connection-form {
            width: calc(100% - 40px);
        }

        .group-edit-form {
            display: none;

            &__list {
                margin: -8px -8px;
                .group-list {
                    &__item {
                        position: relative;
                        margin: 8px;
                        flex: 0 1 calc(33.3% - 16px);
                        cursor: pointer;

                        &_wrap {
                            transition: all .2s ease-in-out;
                            padding: 8px 16px 8px 27px;
                            border-radius: $borderRadius;

                            @include themify() {
                                border: themed($border);
                            }
                        }

                        input[type='checkbox'] {
                            position: absolute;
                            left: 16px;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        input[type='checkbox']:checked ~ .group-list__item_wrap {
                            background-color: rgba($primaryBlue, .15);
                            border: 1px solid $primaryBlue;
                          }

                        &_title {
                            font-weight: 500;
                        }
                    }
                }
                
            }

        }

        .connection-form {
            &__header {
                @include themify() {
                    border-bottom: themed($border);
                }

                &_title {
                    font-weight: 500;
                }
            }

            &__divider {
                position: relative;

                &:before, &:after {
                    content: "";
                    display: block;
                    width: calc((100% - 50px) / 2);
                    background-color: $primaryMutedColor;
                    height: 1px;
                }

                &_text {
                    display: block;
                    margin: 0 auto;
                    font-weight: 500;
                    color: $primaryMutedColor;
                }
            }
        }
    }
}